{% extends 'layouts/main.j2' %}
{% block content %} 
    <h2 class="page-name">Adopter Login</h2>
    <script type=text/javascript src="{{ url_for('static', filename='/adopter_login_form.js') }}"></script>
    <form id="adopter_login_form" action="/adopter_login" onsubmit="return validateForm()" method="post" required>
        <div class="container">
            <pre>   Email: <input type="text" name="email"><br></pre>
            <pre>Password: <input type="password" name="password"><br></pre>
            <br>
            <button type="submit">Log In</button>
            <br>
            <br>
            <pre>Need an account? <a href="/signup">Sign Up Here<br></a></pre>
        </div>
    <form>
{% endblock %}