{% extends 'layouts/main.j2' %}
{% block content %}
    <h2 class="page-name">All Dogs</h2>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type=text/javascript src="{{ url_for('static', filename='/browse_dogs_form.js') }}"></script>
     
    {% for dog in dogs %}
        <div class="browse-container">
            <img src="data:;base64,{{ base64.b64encode(dog.img).decode() }}">
            <h3 style="color:#404040; line-height:0;">{{ dog.name }}</h3>
            <i id="{{ dog.petsID }}" class="like-button {{ 'press' if dog.isLiked }}"></i>
            <h3 style="color:#404040; line-height:0; position:relative; top: -15px;">* {{ dog.availability }} *</h3>
            <button onclick="window.location.href='/browse_details/{{ dog.petsID }}'">View Details</button>
        </div>
    {% endfor %}
{% endblock %}