{% extends 'layouts/main.j2' %}
{% block content %}
    <h2 class="page-name">All Other Pets</h2>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type=text/javascript src="{{ url_for('static', filename='/browse_other_form.js') }}"></script>
     
    {% for other in others %}
        <div class="browse-container">
            <img src="data:;base64,{{ base64.b64encode(other.img).decode() }}">
            <h3 style="color:#404040; line-height:0;">{{ other.name }}</h3>
            <i id="{{ other.petsID }}" class="like-button {{ 'press' if other.isLiked }}"></i>
            <h3 style="color:#404040; line-height:0; position:relative; top: -15px;">* {{ other.availability }} *</h3>
            <button onclick="window.location.href='/browse_details/{{ other.petsID }}'">View Details</button>
        </div>
    {% endfor %}
{% endblock %}