{% extends 'layouts/main.j2' %}
{% block content %}
    <h3 class="page-name">
        Your request has been submitted successfully, you will receive an email after we made the decision. Thank you!
    </h3>
{% endblock %}