<!DOCTYPE html>
<html lang="en">
    <head>
        <title>LLY Adoption Center</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='/style.css') }}">
    </head>

    <body>
        <div class="header"><h1>LLY Adoption Center</h1></div>
        <div class="shelter-div">
            <img src="/static/images/cat2.png">
            <a class="landing-btn" href="/shelter_login"><span>Shelter </span></a>
        </div>

        <div class="adopter-div">
            <img src="/static/images/dog2.png">
            <a class="landing-btn" href="/adopter_login"><span>Adopter </span></a>
        </div>

        <div class="about-us">
            <pre style="font-weight:bold;text-align:center;">About Us</pre>
            <pre>    *** Hey! Future pet owners! Our web matches you up with available animals! Click the "Adopter" button and all your future pets are waiting for you!</pre>
            <pre>    *** Hey! Animal rescuers! Our web matches you up with potential adopters! If you have animals need to be adopted, contact us at: Email - lly_adoption@gmail.com; Phone - 123-456-7890.</pre>
            <pre>        We will list your animals on our web and help you find adopters.</pre>
        </div>
    </body>
</html>